<a href="https://colab.research.google.com/github/aishwaryashetty2805/-https-github.com-rdpeng-ProgrammingAssignment2/blob/master/Day2_session1_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.print multiples of 3 upto 200 using a list

In [ ]:
multiples = [n for n in range(1, 200) if n % 3 == 0]
print(multiples)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]


2. print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [ ]:
n=[]
for no in range(1000, 2000):
    if (no%7==0) and (no%5==0):
        n.append(str(no))
print (','.join(n))

1015,1050,1085,1120,1155,1190,1225,1260,1295,1330,1365,1400,1435,1470,1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995

3.Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [ ]:
list_alpha = ['hi' , 'hello', 'at', 'this', 'there', 'from']
list_alpha.sort()
print("In alphetic order:",list_alpha)
list_rever=['copy','paste','cut','but']
list_rever.sort(reverse=True)
print("In Reverse alphetic order:",list_rever)

In alphetic order: ['at', 'from', 'hello', 'hi', 'there', 'this']
In Reverse alphetic order: ['paste', 'cut', 'copy', 'but']

4.Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [ ]:
def squares(a, b):
    lists=[]
    # Traverse through all numbers
    for i in range (a,b+1):
        j = 1;
        while j*j <= i:
            if j*j == i:
                 lists.append(i)  
            j = j+1
        i = i+1
    return lists
print(squares(500, 1000))

[529, 576, 625, 676, 729, 784, 841, 900, 961]

5.Get  a string and store word by word as elements in a tuple and find the largest word in the  tuple and print it

In [ ]:
txt = "welcome to the python programming"
x = txt.split()
print(x)
max1=len(x[0])
temp=x[0]
for i in x:
    if(len(i)>max1):
       max1=len(i)
       temp=i
print("The word with the longest length is:")
print(temp)

['welcome', 'to', 'the', 'python', 'programming']
The word with the longest length is:
programming

6.Get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard  and print them in marks descending order with rollno.

In [ ]:
n = int(input("Enter n"))
lst = []
#students=()
#marks=()
for num in range(n): 
     x=input("Enter name of student: ") 
     lst.append(x) 
     y=int(input("Enter marks of student: ") )
     lst.append(y) 
list=tuple(lst)
print(list)
acc=tuple(sorted(list, key = lambda x: x[0]))
print(acc)    
#tup = [('rishav', 10), ('akash', 5), ('ram', 20), ('gaurav', 15)]

7.Get name and salary (name, salary) as list of tuples for n number of employees through keyboard  and print them in name alphabetical order with salary

In [ ]:
def SortTuple(tup):   
    tup.sort(key = lambda x: x[0])   
    return tup    
tup = [("ABC", 28000), ("DEF", 30000), ("UFG", 29000), 
        ("RET", 21000)]          
print(SortTuple(tup))