<a href="https://colab.research.google.com/github/aishwaryashetty2805/-https-github.com-rdpeng-ProgrammingAssignment2/blob/master/Day_2_Session2_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [ ]:
lis = [] 
name = []
marks = []
num = input("How many students?:  ") 
for i in num:
      name = input("input name of student ")
lis.append(name)
for i in num:
      mark = input("input mark of the student")
lis.append(mark)
print(lis)
print("The list printed sorting by marks:")
print(sorted(lis, key = lambda j: j['marks'])) 
  
#print ("\r") 
  
# using sorted and lambda to print list sorted  
# by both age and name. Notice that "Manjeet" 
# now comes before "Nandini" 
#print("The list printed sorting by age and name: ")
#print(sorted(lis, key = lambda i: (i['age'], i['name'])))
  
#print ("\r") 
  
# using sorted and lambda to print list sorted 
# by age in descending order 
#print("The list printed sorting by age in descending order: ")
#print(sorted(lis, key = lambda i: i['age'],reverse=True))

How many students?:  2
input name of student aish
input mark of the student35
['aish', '35']
The list printed sorting by marks:

TypeError: ignored


2.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [ ]:
Employee = {"Name": "John", "salary":25000}  
print(type(Employee))  
print("printing Employee data .... ")  
print(Employee)  
print("Enter the details of the new employee....");  
Employee["Name"] = input("Name: ");    
Employee["salary"] = int(input("Salary: "));  
print("printing the new data");  
print(Employee)

<class 'dict'>
printing Employee data ....
{'Name': 'John', 'salary': 25000}
Enter the details of the new employee....
Name: ffjhj
Salary: 566
printing the new data
{'Name': 'ffjhj', 'salary': 566}

5.	Python program to convert a 3 digit number  into words

In [ ]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty'}

num=int(input("Enter the integer between 1 to 99:"))
if (num<=20):
      print(d[num])
if(num>20 and num<100):
        if num%10==0:       
            print(d[num])
        else:
            print(d[num//10*10]+" "+d[num%10])